*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
.inside{
    color: white;
    min-height: 50px;
    padding: 15px;

}
.icons{
    padding: 10px;
    /* margin-left: 10px; */
    /* justify-self: unset; */
}
main{
    min-height: calc(100vh - 98px);
}
footer{
    height: 80px;
}
.soc{
    color: black;
    font-size: 30px;
    padding: 10px;
}
/* .row{
    --bs-gutter-x: 0rem !important;
} */
a .bi-facebook:hover{
    color: lightskyblue;
}
a .bi-instagram:hover{
    color: #F56040;
}
a .bi-youtube:hover{
    color: red;
}
.foot:hover{
    color: lightgray;
    cursor: pointer;
}
.about{
    width: 70%;
    height: 200px;
    background-color: whitesmoke;
    box-shadow: -6px 4px 25px black;
    padding: 10px;
    position: relative;
    top: -10%;
    left: 10%;
}
.about a{
    position: absolute;
    left: 35%;
    bottom: 10px;
}
.prace{
    position: absolute;
    left: 50%;
}
section{
    margin-top: 15px;
    margin-bottom: 15px;
}
